<!doctype html>
<html>
    <head>
        <title>Mutable: A job board for programmers</title>
        <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
    </head>
    <link href="./styles/mutable.css" rel="stylesheet">
    <body>
        {{{body}}}
    </body>
</html>
