<!doctype html>
<html>
    <head>
        <!-- Page setup -->
        <title>Mutable: A job board for programmers</title>
        <meta charset="utf-8">
        <meta name="author" content="Joseph DeVictoria">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
        <!-- CSS -->
        <link href="./styles/mutable.css" rel="stylesheet">
        <link href="./styles/normalize.css" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
