<!doctype html>
<html>
    <head>
        <title>Mutable: A job board for programmers</title>
    </head>
    <link href="./styles/hello.css" rel="stylesheet">
    <body>
        {{{body}}}
    </body>
</html>
