<!doctype html>
<html>
    <head>
        <!-- Page setup -->
        <title>Mutable: A job board for programmers</title>
        <meta charset="utf-8">
        <meta name="author" content="Joseph DeVictoria">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
        <!-- CSS -->
        <link href="./styles/mutable.css" rel="stylesheet">
        <link href="./styles/normalize.css" rel="stylesheet">
    </head>
    <body>
        <div class="container navbar">
            <a href="https://www.mutable.cc"><img src="./img/mutable_logo_full.png" class="logo"></a>
            <a href="https://www.mutable.cc/jobs" class="button">Jobs</a>
            <a href="https://www.mutable.cc/applications" class="button">Applications</a>
            <a href="https://www.mutable.cc/profile" class="button">Profile</a>
        </div>
        <div class="container payload">
            <h1>What is Mutable?</h1>
            <p>Mutable is a job board developed specifically for programmers.</p>
            <p>It facilitates screening and hiring of programmers based on skills measured through integrated programming tasks.</p> 
        </div>
        <div class="container payload">
            <h1>How Does It Work?</h1>
            <p>The entire find the job they are looking for Customize each job with a specific application, prerequisites, and programming challenges.  Programmers who are interested in the position will be able to fill out the application in a matter of minutes.  If their skills match enough of those listed in the application, they will be able to move on to step two of the  
        </div>
        <div class="container payload">
            <h1>For Companies:</h1>
            <p>The service is simple.  Post as many jobs as you like, free of charge.  If, and only if you successfully hire a candidate through our service, we charge you a flat fee of $30.
        </div>
        <div class="container payload">
            <h1>For Job Seekers:</h1>
            <p>Programmers using Mutable to find employment are the lifeblood of the system.  You will never be charged in any way for using Mutable to get a job.
        </div>
        <div class="container payload">
            <h1>How Did Mutable Start?</h1>
            <p>After graduating college with a bachelor's degree in Computer Engineering with a minor in Computer Science, I took a job working in the semiconductor industry developing flash memory.  The job was interesting and challenging, but heartbreakingly for me, programming made up a small fraction of my daily tasks.</p>
            <p>I found myself longing to do more programming and to learn more about computer science.  It was during this time that I began to consider a career change towards the field of software development.  As I began looking for programming careers, I quickly found that the "job website" ecosystem has many contenders, but all of them are ill suited for connecting quality programmers with the right positions.</p>
            <p>Near the end of my college years, I applied for a number of programming jobs, which exposed me to some of the common hiring techniques that are used in the industry.  By going through their application processes, I learned what types of skill checks, screen, and candidate information are valuable to software companies.</p>
            <p>These factors motivated me to design a place where companies and programmers could come together and get much more aggressive recruiting done.  The result is Mutable.<p>
        </div>
        <div class="container navbar">
            <a href="https://www.mutable.cc/about" class="button">About</a>
        </div>
    </body>
</html>
