<!doctype html>
<!-- Joseph DeVictoria 2016 -->
<html>
    <head>
        <!-- Page setup -->
        <title>Mutable: A job board for programmers</title>
        <meta charset="utf-8">
        <meta name="author" content="Joseph DeVictoria">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mutable.cc/img/favicon.ico" />
        <!-- CSS -->
        <link href="https://www.mutable.cc/styles/mutable.css" rel="stylesheet">
        <link href="https://www.mutable.cc/styles/normalize.css" rel="stylesheet">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-65518086-3', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="container navbar">
            <a href="https://www.mutable.cc"><img src="https://www.mutable.cc/img/mutable_logo_full.png" class="logo"></a>
            <a href="https://www.mutable.cc/jobs" class="button">Jobs</a>
            <a href="https://www.mutable.cc/applications" class="button">Applications</a>
            <a href="https://www.mutable.cc/profile" class="button">Profile</a>
        </div>
        <div class="container">
            <form>File name: <input type="text" name="fileName" value="challenge.js"></form>
            <div class="challenge-editor" id="editor">
                <script src="https://www.mutable.cc/scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
            </div>
        </div>
        <div class="container navbar">
            <a href="https://www.mutable.cc/about" class="button">About</a>
        </div>
    </body>
    <script>
        var editor = ace.edit("editor"); 
        editor.setTheme("ace/theme/idle_fingers"); 
        editor.getSession().setMode("/ace/mode/javascript");
    </script>
</html>
