<!doctype html>
<html>
    <head>
        <!-- Page setup -->
        <title>Mutable: A job board for programmers</title>
        <meta charset="utf-8">
        <meta name="author" content="Joseph DeVictoria">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
        <!-- CSS -->
        <link href="./styles/mutable.css" rel="stylesheet">
        <link href="./styles/normalize.css" rel="stylesheet">
    </head>
    <body>
        <div class="container navbar">
            <a href="https://www.mutable.cc"><img src="./img/mutable_logo_full.png" class="logo"></a>
            <a href="https://www.mutable.cc/jobs" class="button">Jobs</a>
            <a href="https://www.mutable.cc/applications" class="button">Applications</a>
            <a href="https://www.mutable.cc/profile" class="button">Profile</a>
        </div>
        <div class="container navbar">
            <a href="https://www.mutable.cc/about" class="button">About</a>
        </div>
    </body>
</html>
