<!doctype html>
<!-- Joseph DeVictoria 2016 -->
<html>
    <head>
        <!-- Page setup -->
        <title>Mutable: A job board for programmers</title>
        <meta charset="utf-8">
        <meta name="author" content="Joseph DeVictoria">
        <meta name=viewport content="width=device-width, initial-scale=1"> 
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mutable.cc/img/favicon.ico" />
        <!-- CSS -->
        <link href="https://www.mutable.cc/styles/mutable.css" rel="stylesheet">
        <!-- Scripts -->
        <script src="https://www.mutable.cc/scripts/google/ga.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container navbar">
            <a href="https://www.mutable.cc"><img src="https://www.mutable.cc/img/mutable_logo_full.png" class="logo"></a>
            <a href="https://www.mutable.cc/jobs" class="button">Jobs</a>
            <a href="https://www.mutable.cc/applications" class="button">Applications</a>
            <a href="https://www.mutable.cc/profile" class="button">Profile</a>
        </div>
        <div class="container payload">
            {{#if incorrect}}
            <h1>Your username or password was incorrect...</h1>
            {{/if}}
            {{#if loggedout}}
            <form name="login" method="post" action="/login" role="form">
                <label for="login_username">Username</label>
                <div><input type="text" id="login_username" name="login_username" required="required" maxlength="30" pattern="[A-Za-z0-9]{3,}"></div>
                <label for="login_password">Password</label>
                <div><input type="password" id="login_password" name="login_password" required="required" maxlength="30" pattern="[A-Za-z0-9]{6,}"></div>
                <input type="submit" value="Login" />
            </form>
            {{/if}}
            {{#if loggedin}}
            <h1>You are logged in!</h1>
            {{/if}}
        </div>
        <div class="container navbar">
            <a href="https://www.mutable.cc/about" class="button">About</a>
        </div>
    </body>
</html>
