<!doctype html>
<!-- Joseph DeVictoria 2016 -->
<html>
    <head>
        <!-- Page setup -->
        <title>Mutable: A job board for programmers</title>
        <meta charset="utf-8">
        <meta name="author" content="Joseph DeVictoria">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mutable.cc/img/favicon.ico" />
        <!-- CSS -->
        <link href="https://www.mutable.cc/styles/mutable.css" rel="stylesheet">
        <!-- Scripts -->
        <script src="https://www.mutable.cc/scripts/google/ga.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container navbar">
            <a href="https://www.mutable.cc"><img src="https://www.mutable.cc/img/mutable_logo_full.png" class="logo"></a>
            <a href="https://www.mutable.cc/jobs" class="button">Jobs</a>
            <a href="https://www.mutable.cc/applications" class="button">Applications</a>
            <a href="https://www.mutable.cc/profile" class="button">Profile</a>
        </div>
        <div class="container payload">
            I was passed the job with the following information:<br>
            <div class="container">
                <pre>
                    Test
                </pre>
            </div>
        </div>
        <div class="container navbar">
            <a href="https://www.mutable.cc/about" class="button">About</a>
        </div">
    </body>
</html>
