// Filename:    mutable.styl
// Author:      Joseph DeVictoria
// Date:        Oct_3_2016
// Purpose:     Principle style sheet for mutable. Compiles with Stylus.
// Global Variables:
farBackground = #b1d392
focusBackground = #7f7d7d
fadeBackground = #464646
font0 = 10px
font1 = 12px
font2 = 14px
font3 = 15px
font4 = 16px
font5 = 18px
font6 = 20px
body
    font: font2 Helvetica, Arial, sans-serif;
    background-color: farBackground;
